.section_1{visibility: hidden; position: absolute; top: 80px; width: 600px;}
.section_2{visibility: hidden; position: absolute; top: 80px; width: 600px;}
.section_3{visibility: hidden; position: absolute; top: 80px; width: 600px;}
